body {
    min-width: 95vw;
    min-height: 95vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
}

.game-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    position: absolute;

    /* center horizontally  */

    left: 50%;
    transform: translate(-50%);

    /* media */

    margin-top: 5%;
    min-height: 700px;
    min-width: 700px;
    max-height: 700px;
    max-width: 700px;
    padding-left: 16px;
    padding-top: 16px;
}

.header {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 992px) {
    .footer {
        transform: translate(-50%, 800px) !important;
    }
}
@media screen and (max-width: 769px) {
    .game-box {
        margin-top: 15%;
        min-height: 450px;
        min-width: 450px;
        max-height: 450px;
        max-width: 450px;
        padding-left: 8px;
        padding-top: 8px;
    }
    .footer {
        transform: translate(-50%, 580px) !important;
        min-width: 450px !important;
    }
    button {
        font-size: large !important;
    }
}
@media screen and (max-width: 481px) {
    .game-box {
        margin-top: 15%;
        min-height: 340px;
        min-width: 340px;
        max-height: 340px;
        max-width: 340px;
        padding-left: 5px;
        padding-top: 5px;
    }
    .footer {
        transform: translate(-50%, 425px) !important;
        min-width: 340px !important;
    }
    button {
        font-size: medium !important;
    }
}
@media screen and (max-width: 320px) {
    .game-box {
        margin-top: 15%;
        min-height: 265px;
        min-width: 265px;
        max-height: 265px;
        max-width: 265px;
        padding-left: 3px;
        padding-top: 3px;
    }
    .footer {
        transform: translate(-50%, 330px) !important;
        min-width: 260px !important;
    }
    button {
        font-size: medium !important;
    }
}

.grid-item {
    border-radius: 10%;
    height: 90%;
    width: 90%;
}
.card {
    border: solid 2px;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, 820px);
    min-width: 700px;

    /* center horizontally  */

    left: 50%;
}

button {
    font-weight: bold;
    font-size: x-large;
}


.header-box {
    width: 140px;
    height: 35px;
    border: solid 2px;
    margin-top: 10px;
    margin-right: 10px;
}

.header-box span {
    font-size: large;
    font-weight: bold;
}

.header-box div {
    margin-top: 8px;
    margin-left: 15px;
}

.score-box  div{
    margin-left: 20px !important;
}



/* JS STYLE */

.image {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 10px 0 0 10px;
    border-radius: 10%;
}
.transparant-image{
    z-index: 1;
    background-color: rgb(92 89 86);;
}
.closen-card {
    background-color: rgb(92 89 86);
}
.img1-1 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img1-2 {
    background-image: url(./pics/angry.png);
    z-index: -1;
}
.img2-1 {
    background-image: url(./pics/egal.png);
    z-index: -1;
}
.img2-2 {
    background-image: url(./pics/sad.png);
    z-index: -1;
}
.img3-1 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img3-2 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img4-1 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img4-2 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img5-1 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img5-2 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img6-1 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
.img6-2 {
    background-image: url(./pics/smile.png);
    z-index: -1;
}
