.text{
    margin-top: 180px !important;
}

/* CHOOSE STAFF */

.staff-header p{
    text-align: center;
    color: #4e2c1e;
    font-size: 28px;
}
.staff-ornament{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.staff-ornament-left{
    background: url("./images/staff-ornament-left.png") no-repeat;
    width: 120px;
    height: 120px;
    margin-left: 4%;
}
.staff-ornament-right{
    background: url("./images/staff-ornament-right.png") no-repeat;
    width: 120px;
    height: 120px;
    margin-left: 820px;
}
.staff-selection{
    width: 90%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: -105px 5%;
}

.applicants-list{
    margin-top: 130px;
    margin-left: 60px;
    width: 90%;
}
tr{
    height: 30px;
    width: 100%;
    color: #4e2c1e;
    font-size: 18px;
}
.odd th{
    border-right: #d3a86c solid 1px;
}
.odd th:last-child{
    border: none
}
tr th:first-child{
    width: 350px;
    text-align: left;
}
tr th:nth-child(2){
    width: 300px;
}
.odd{
    background-color: white;
}

/*
.applicants-list{
    display: flex;
    flex-direction: column;
    margin: 130px 5%;
}
.applicant{
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 100%;
    padding: 5px 0;
    font-size: larger;
    color: #4e2c1e;
    justify-content: space-between;
}
.odd{
    background-color: white;
}
.splitter{
    font-size: 24px;
}
.applicants-list .applicant:nth-child(6) p:first-child{
    margin-right: 60px;
}
.applicants-list .applicant:nth-child(5) p:first-child{
    margin-right: 45px;
}
.applicants-list .applicant:nth-child(4) p:first-child{
    margin-right: -10px;
}
.applicants-list .applicant:nth-child(3) p:first-child{
    margin-right: 22px;
}
.applicants-list .applicant:nth-child(2) p:first-child{
    margin-right: 38px;
}
.applicants-list .applicant:nth-child(1) p:first-child{
    margin-right: 0px;
}

.applicants-list .applicant:nth-child(6) p:nth-child(3){
    margin-right: 50px;
}
.applicants-list .applicant:nth-child(5) p:nth-child(3){
    margin-right: 47px;
}
.applicants-list .applicant:nth-child(4) p:nth-child(3){
    margin-right: -2px;
}
.applicants-list .applicant:nth-child(3) p:nth-child(3){
    margin-right: 26px;
}
.applicants-list .applicant:nth-child(2) p:nth-child(3){
    margin-right: 38px;
}
.applicants-list .applicant:nth-child(1) p:nth-child(3){
    margin-right: 0px;
}

.applicants-list .applicant:nth-child(5) p:nth-child(5){
    margin-right: 5px;
}
.applicants-list .applicant:nth-child(4) p:nth-child(5){
    margin-right: -10px;
}
.applicants-list .applicant:nth-child(3) p:nth-child(5){
    margin-right: 17px;
}
.applicants-list .applicant:nth-child(2) p:nth-child(5){
    margin-right: -10px;
}
.applicants-list .applicant:nth-child(1) p:nth-child(5){
    margin-right: 10px;
}

.splitter{
    font-size: 24px;
}

*/