.text{
    margin-top: 180px !important;
}

/* CHOOSE STAFF */

.staff-header p{
    text-align: center;
    color: #4e2c1e;
    font-size: 28px;
}
.staff-ornament{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.staff-ornament-left{
    background: url("./images/staff-ornament-left.png") no-repeat;
    width: 120px;
    height: 120px;
    margin-left: 4%;
}
.staff-ornament-right{
    background: url("./images/staff-ornament-right.png") no-repeat;
    width: 120px;
    height: 120px;
    margin-left: 820px;
}
.applicants-list{
    margin-top: 130px;
    margin-left: 60px;
    width: 90%;
}
tr{
    height: 30px;
    width: 100%;
    font-size: 18px;
    color: #4e2c1e75;
}
.visible{
    color: #4e2c1e !important;  
}
.odd th{
    border-right: #d3a86c solid 1px;
}
.odd th:last-child{
    border: none
}
tr th:first-child{
    width: 350px;
    text-align: left;
}
tr th:nth-child(2){
    width: 300px;
}
.odd{
    background-color: white;
}

/* STAFF SELECTION */
.staff-selection{
    width: 90%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: -105px 5%;
}
.collumn{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.row input{
    margin-left: 15px;
    margin-right: 10px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: #4e2c1e;
    border: transparent;
}
.profession{
    margin-left: 40px;
}
.profession p{
    margin-top: 20px;
    color: #4e2c1e;
    font-size: 18px;
    margin-left: 5px;
}
.profession select{
    background: transparent;
    -webkit-appearance: none;
}
.profession .select-style-profession{
    background: url("./images/select1.png") no-repeat right;
    margin-top: 10px;
    width: 260px;
    height: 40px;
    margin-left: 10px;
    z-index: 1;
}

.age-and-workperiod{
    margin-top: 20px;
    margin-left: 80px;
    color: #4e2c1e;
    font-size: 18px;
    z-index: 1;
}
.work-period{
    margin-bottom: 13px;
    margin-left: 19px;
}

.submitt-button{
    width: 140px;
    height: 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 150px;
    background-color: #ab6e17;
    color: white;
    cursor: pointer;
    z-index: 1;
}

/* TEXT */
.text{
    margin-top: 60px !important;
    margin-bottom: 40px !important;
}

/* FOR JS */
