
/* STAFF */

/* --ornaments-- */
.ornament{

}

.top-ornament{
    background: url("./images/ornament.center.png") no-repeat;
    display: block;
    width: 130px;
    height: 50px;
    margin-left: 510px;
    margin-top: 15px;
}
.bottom-ornament{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    margin-left: 40px;
}
.left-ornament,
.right-ornament{
    width: 550px;
    height: 150px;
    display: block;
    margin-top: 30px;

}
.left-ornament{
    background: url("./images/ornament.left.png") no-repeat;
}
.right-ornament{
    background: url("./images/ornament-right.png") no-repeat;
    margin-left: -30px;
}

/* --text-- */

.staff-box{
    width: 600px;
    height: 252px;
}
.text-staff{
    display: flex;
    flex-direction: row;
    margin-top: -310px;
    font-size: 18px;
    color: #4e2c1e;
    margin-left: 80px;
    margin-right: 80px;
}
.constant-staff{
    margin-right: 30px;
}
.permanent-staff{
    margin-left: 30px;
}
.header-1{
    margin-right: 270px;
}
.header-2{
    margin-left: 270px;
}


/* --imgs-- */
.img-staff{
    position: relative;
    width: 156px;
    height: 146px;
    margin: 0;
}
.img-staff-1{
    float: right;
}
.img-staff-2{
    float: left;
    margin-right: 20px;
}

/* --button-- */
.staff-button{
    width: 125px;
    height: 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
}
.staff-button-left{
    background-color: #eac87f;
    color: #4e2c1e;
    margin-left: 330px;
    margin-top: 33px;
}
.staff-button-right{
    background-color: #ab6e17;
    color: white;
}

/* PHOTOS */

.photos {
    display: flex;
    flex-direction: row;
    margin: 80px 75px;
    margin-bottom: 0 !important;
}
.photo-7{
    background: url("./images/photo-7.png") no-repeat;
}
.photo-8{
    background: url("./images/photo-8.png") no-repeat;
    margin-top: 23px;
}
.photo-9{
    background: url("./images/photo-9.png") no-repeat;
    margin-top: 20px;
}
.photo-10{
    background: url("./images/photo-10.png") no-repeat;
    margin-right: 0 !important;
    margin-top: 23px;
}
.photo-7,
.photo-8,
.photo-9,
.photo-10{
    margin-right: 35px;
    width: 225px;
    height: 300px;
}

/* TEXT */

.text-header{
    font-size: xx-large;
    margin-left: 75px;
    color: #4e2c1e;
}
