*{
    margin: 0;
    padding: 0;
}
html{
    position: sticky;
    margin: 0 auto;
    height: 80vh;
    max-height: 80vh;
    width: 100%;
    top: 0;
}
body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.wrapper{
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border: 5px solid coral;
    border-radius: 15px;
    display: block;
}
.gameField{
    margin-top: 50px;
    width: 600px;
    height: 600px;
    margin-left: 50px;
    background-color: #ff7f506c; /* ff7f50 */
    display: block;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    width: 150px;
}
.grid-item span{
    color: white;
    font-size: 35px;
    padding-top: 50px;
    font-weight: bolder;
    display: block;
}

.score{
    margin-left: 20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 100px;
    background-color: #0000804b;
    border: solid 2px #000080;
    border-radius: 5px;
    cursor: pointer;
}
.score:last-child{
    margin-left: 15px !important;
}
.score span{
    font-size: 25px;
    font-weight: bolder;
    color: #000080;
}
.footer{
    display: flex;
    flex-direction: row;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .wrapper{
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
    .gameField{
        margin-top: 25px;
        width: 265px;
        height: 250px;
        margin-left: 18px;
    }
    .grid-item{
        width: 62.5px;
    }
    .grid-item span{
        font-size: 20px;
        padding-top: 12px;
    }
    .score{
        margin-top: 30px;
        min-width: 70px;
        width: 70px;
    }
    .score span{
        font-size: 17.5px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 481px) {
    .wrapper{
        width: 400px;
        height: 400px;
        margin-top: 60px;
    }
    .gameField{
        margin-top: 50px;
        width: 315px;
        height: 300px;
        margin-left: 42px;
    }
    .grid-item{
        width: 75px;
    }
    .grid-item span{
        font-size: 25px;
        padding-top: 22px;
    }
    .score{
        margin-top: 30px;
        min-width: 80px;
        width: 80px;
    }
    .score span{
        font-size: 20px;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper{
        width: 500px;
        height: 500px;
        margin-top: 70px;
    }
    .gameField{
        margin-top: 50px;
        width: 415px;
        height: 400px;
        margin-left: 42px;
    }
    .grid-item{
        width: 100px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 30px;
    }
    .score{
        margin-top: 30px;
        min-width: 80px;
        width: 80px;
    }
    .score span{
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper{
        width: 600px;
        height: 600px;
        margin-top: 80px;
    }
    .gameField{
        margin-top: 50px;
        width: 515px;
        height: 500px;
        margin-left: 42px;
    }
    .grid-item{
        width: 125px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 50px;
    }
    .score{
        margin-top: 30px;
        min-width: 90px;
        width: 90px;
    }
    .score span{
        font-size: 23px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper{
        width: 700px;
        height: 700px;
        margin-top: 80px;
    }
    .gameField{
        margin-top: 50px;
        width: 600px;
        height: 600px;
        margin-left: 50px;

    }
    .grid-item{
        width: 150px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 50px;
    }
    .score{
        margin-top: 30px;
        min-width: 100px;
        width: 100px;
    }
    .score span{
        font-size: 25px;
    }
}



#endscr {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 450px;
    width: 300px;
    height: 150px;
    border: 5px solid #000080;
    background-color: #000080ad;
    border-radius: 10px;
    align-items: center;
}
.yourscore{
    margin-top: 30px;
}
.yourscore span{
    font-weight: bold;
    font-size: 30px;
    color: #ff7f50;
}
.endScore button{
    padding: 7px;
    margin-top: 16px;
    background-color: #010158;
    font-size: 20px;
    color: #ff7f50;
    border: 1px solid #ff7f50;
    border-radius: 5px;
    width:fit-content;
    cursor: pointer;
}