*{
    margin: 0;
    padding: 0;
}
html{
    position: sticky;
    margin: 0 auto;
    height: 80vh;
    max-height: 80vh;
    width: 100%;
    top: 0;
}
body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.wrapper{
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border: 5px solid coral;
    border-radius: 15px;
    display: block;
}
.gameField{
    margin-top: 50px;
    width: 600px;
    height: 600px;
    margin-left: 50px;
    background-color: #ff7f50; /* ff7f506c */
    display: block;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    width: 150px;
    height: 150px;
}
.grid-item span{
    color: white;
    font-size: 35px;
    padding-top: 50px;
    font-weight: bolder;
    display: block;
}

.score{
    margin-left: 20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.score span{
    font-size: 18px;
    font-weight: bolder;
    color: #010158;
}
.score:first-child{
    margin-right: 15px;
    border: 3px solid #ff7f50;
    border-radius: 8px;
}
.score:last-child span{
    padding: 2px;
    color: #ff7f50;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
    font-weight: bold;
}
.score:last-child{
    margin-left: 15px !important;
    border: 3px solid #ff7f50;
    border-radius: 8px;
    background-color: #010158;
    min-width: 100px ;
}
.score:last-child:hover{
    background-color: #010192;
}
.footer{
    display: flex;
    flex-direction: row;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .wrapper{
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
    .gameField{
        margin-top: 25px;
        width: 265px;
        height: 250px;
        margin-left: 18px;
    }
    .grid-item{
        width: 62.5px;
        height: 62.5px;
    }
    .grid-item span{
        font-size: 20px;
        padding-top: 12px;
    }
    .score{
        margin-top: 30px;
        margin-left: 10%;
    }
    .score span{
        font-size: 14px;
    }
    #endscr{
        margin-top: 200px !important;
        width: 200px !important;
        height: 120px !important;
    }
    .yourscore{
        margin-top: 12px !important;
        font-size: 20px !important;
    }
    .endScore button{
        margin-top: 10px !important;
        font-size: 17px !important;
    }
}
@media only screen and (max-width: 599px) and (min-width: 481px) {
    .wrapper{
        width: 400px;
        height: 400px;
        margin-top: 60px;
    }
    .gameField{
        margin-top: 50px;
        width: 315px;
        height: 300px;
        margin-left: 42px;
    }
    .grid-item{
        width: 75px;
        height: 75px;
    }
    .grid-item span{
        font-size: 25px;
        padding-top: 22px;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
    .score{
        margin-top: 30px;
        margin-left: 10%;
    }
    .score span{
        font-size: 14px;
    }
    #endscr{
        margin-top: 270px !important;
        width: 250px !important;
        height: 130px !important;
    }
    .yourscore{
        margin-top: 20px !important;
        font-size: 26px !important;
    }
    .endScore button{
        margin-top: 13px !important;
        font-size: 18px !important;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px) {
    .wrapper{
        width: 500px;
        height: 500px;
        margin-top: 70px;
    }
    .gameField{
        margin-top: 50px;
        width: 415px;
        height: 400px;
        margin-left: 42px;
    }
    .grid-item{
        width: 100px;
        height: 150px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 30px;
    }
    .score{
        margin-top: 30px;
        margin-left: 10%;
    }
    .score span{
        font-size: 16px;
    }
    #endscr{
        margin-top: 300px !important;
        width: 300px !important;
        height: 150px !important;
    }
    .yourscore{
        margin-top: 30px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .wrapper{
        width: 600px;
        height: 600px;
        margin-top: 80px;
    }
    .gameField{
        margin-top: 50px;
        width: 515px;
        height: 500px;
        margin-left: 42px;
    }
    .grid-item{
        width: 125px;
        height: 125px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 50px;
    }
    .score{
        margin-top: 30px;
        margin-left: 15% !important;
    }
    #endscr{
        margin-top: 350px !important;
        width: 350px !important;
        height: 200px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .wrapper{
        width: 700px;
        height: 700px;
        margin-top: 80px;
    }
    .gameField{
        margin-top: 50px;
        width: 600px;
        height: 600px;
        margin-left: 50px;
    }
    .grid-item{
        width: 150px;
        height: 150px;
    }
    .grid-item span{
        font-size: 35px;
        padding-top: 50px;
    }
    .score{
        margin-top: 30px;
        margin-left: 20% !important;
    }
    #endscr{
        margin-top: 400px !important;
        width: 350px !important;
        height: 200px !important;
    }
}



#endscr {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 400px;
    width: 350px;
    height: 200px;
    border: 5px solid #000080;
    background-color: #000080ad;
    border-radius: 10px;
    align-items: center;
}
.yourscore{
    margin-top: 35px;
}
.yourscore span{
    font-weight: bold;
    font-size: 30px;
    color: #ff7f50;
    text-shadow: #010158 3px 3px 0px;
}
.endScore button{
    padding: 10px;
    margin-top: 20px;
    background-color: #010158;
    font-size: 20px;
    color: #ff7f50;
    border: 2px solid #ff7f50;
    border-radius: 5px;
    width:fit-content;
    cursor: pointer;
}
.endScore button:hover{
    background-color: #010192;
}